﻿<div ng-controller="HobbyCtrl">
    <div ng-show="loading">Loading...</div>

<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th class="col-xs-3 col-sm-3	col-md-2 col-lg-2">
            <div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
        </th>
        <th class="col-xs-9 col-sm-9	col-md-10 col-lg-10" ng-click="setOrderBy('Name')">
            <div>
                Name
                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == 'Name'"></i>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="addMode">
        <td>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <i class="btn btn-default glyphicon glyphicon-save" ng-click="addHobby()"></i>
                    <i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
                </div>
            </div>
        </td>
        <td>
            <input ng-model="hobby.Name" />
        </td>
    </tr>
    <tr ng-repeat="hobby in hobbies | orderBy:orderBy.field:!orderBy.asc">
        <td>
            <div class="btn-toolbar" ng-show="hobby.editMode == null || hobby.editMode == false">
                <div class="btn-group">
                    <i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(hobby)"></i>
                    <i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteHobby(hobby)"></i>
                    <i class="btn btn-default glyphicon glyphicon-info-sign" ng-click="toggleDetaliesMode(hobby)"></i>
                </div>
            </div>
            <div class="btn-toolbar" ng-show="hobby.editMode == true">
                <div class="btn-group">
                    <i class="btn btn-default glyphicon glyphicon-save" ng-click="updateHobby(hobby)"></i>
                    <i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(hobby)"></i>
                </div>
            </div>
        </td>
        <td>
            <div>
            <h4 ng-show="hobby.editMode == null || hobby.editMode == false">{{hobby.Name}}</h4>
            <input ng-model="hobby.Name" ng-show="hobby.editMode == true" model-change-blur />
                <div ng-show="!(hobby.detaliesMode == null || hobby.detaliesMode == false) && (hobby.editMode == null || hobby.editMode == false)">
                <h6 ng-show="hobby.Students.length!=0">Список студентів</h6>
                <h6 ng-show="hobby.Students.length==0">Студенти, які займаються даним хобі відсутні</h6>
                <ul class="list-unstyled">
                    <li ng-repeat="student in hobby.Students"><a href="#/student/{{student.StudentId}}" class="text-info btn btn-default">{{student.Surname}} {{student.Name}} {{student.Patronymic}}</a></li>
                </ul>
                    </div>
            </div>
        </td>
    </tr>
        </tbody>
</table>
</div>
