@model student_and_hobby.Models.Hobby

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="control-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
     <div class="controls">
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-large" })
         </div>
    @Html.ValidationMessageFor(model => model.Name)
</div>

