﻿@{
    ViewBag.Title = "Студенти і хобі";
}

<div class="container marketing">
    <div class="row">

        <div class="col-lg-4">
            <img class="img-circle" src="/Content/images/Icon1.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Групи</h2>
            <p>Даний розділ дозволяє переглянути інформацію про всі групи та студентів, які навчаються в їх.</p>
            <p>
                @Html.ActionLink("Детальніше »","Index","Group",null,new{@class= "btn btn-default"})
            </p>
        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="/Content/images/Icon2.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Студенти</h2>
            <p>Даний розділ дозволяє переглянути інформацію про студентів та їх захоплення.</p>
            <p>
                @Html.ActionLink("Детальніше »","Index","Student",null,new{@class= "btn btn-default"})
            </p>
        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="/Content/images/Icon3.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Хоббі</h2>
            <p>Даний розділ дозволяє переглянути інформацію про можливі хоббі та студентів що їх мають.</p>
            <p>
                @Html.ActionLink("Детальніше »","Index","Hobby",null,new{@class= "btn btn-default"})
            </p>
        </div>
    </div>
</div>

