﻿<div class="container marketing">
    <div class="row">

        <div class="col-lg-4">
            <img class="img-circle" src="/Content/images/Icon1.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Групи</h2>
            <p>Даний розділ дозволяє переглянути інформацію про всі групи та студентів, які навчаються в їх.</p>
            <p><a href="#/group" class= "btn btn-default">Детальніше »</a></p>
        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="/Content/images/Icon2.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Студенти</h2>
            <p>Даний розділ дозволяє переглянути інформацію про студентів та їх захоплення.</p>
            <p><a href="#/student" class= "btn btn-default">Детальніше »</a></p>
        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="/Content/images/Icon3.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Хоббі</h2>
            <p>Даний розділ дозволяє переглянути інформацію про можливі хоббі та студентів що їх мають.</p>
            <p><a href="#/hobby" class= "btn btn-default">Детальніше »</a></p>
        </div>
    </div>
</div>
