﻿<!DOCTYPE html>
<html ng-app="app" lang="ua">
<head>
    <meta charset="utf-8" />
    <title>Student and hobby</title>
    @System.Web.Optimization.Styles.Render("~/content/bootstrap/base")
    @System.Web.Optimization.Styles.Render("~/content/toastr")
    @System.Web.Optimization.Styles.Render("~/content/css")
    @System.Web.Optimization.Styles.Render("~/content/angular")


</head>
<body>
    <a href="#/home">1111111111</a>
    <a href="#/hobby">2222222222</a>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a href="#/" class="navbar-brand">Студенти і хобі</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Домашня сторінка</a></li>
                    <li><a href="#/group">Групи</a></li>
                    <li><a href="#/student">Студенти</a></li>
                    <li><a href="#/hobby">Хобі</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container content">

    <div ng-view></div>
        
        <div class="row">
            <div class="span12">
                <footer id="footer">
                    &copy; 2014 Company.
                </footer>
            </div>
        </div>
    </div>


    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/angular")
    @System.Web.Optimization.Scripts.Render("~/bundles/toastr")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
</body>
</html>