@model student_and_hobby.Models.Group

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="control-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
     <div class="controls">
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-large" })
         </div>
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="control-group">
    @Html.LabelFor(model => model.Year, new { @class = "control-label" })
     <div class="controls">
    @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
         </div>
    @Html.ValidationMessageFor(model => model.Year)
</div>

<div class="control-group">
    @Html.LabelFor(model => model.Specialty, new { @class = "control-label" })
     <div class="controls">
    @Html.TextBoxFor(model => model.Specialty, new { @class = "form-control" })
         </div>
    @Html.ValidationMessageFor(model => model.Specialty)
</div>

<div class="control-group">
    @Html.LabelFor(model => model.Department, new { @class = "control-label" })
     <div class="controls">
    @Html.TextBoxFor(model => model.Department, new { @class = "form-control" })
         </div>
    @Html.ValidationMessageFor(model => model.Department)
</div>

<div class="control-group">
    @Html.LabelFor(model => model.Faculty, new { @class = "control-label" })
     <div class="controls">
    @Html.TextBoxFor(model => model.Faculty, new { @class = "form-control" })
         </div>
    @Html.ValidationMessageFor(model => model.Faculty)
</div>

