﻿@using System.Web.Optimization
@using student_and_hobby.Helpers
<!DOCTYPE html>

<html lang="ua">
<head>
    <meta charset="utf-8" />
    <title>Bootstrap 3 &bull; @ViewBag.Title</title>
    
    @Styles.Render("~/css")
    @{
        if (ViewBag.AddCss!=null)
        {
            foreach(var item in ViewBag.AddCss)
            {
                @Styles.Render(item); 
            }
        }
        }
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Студенти і хобі", "Index", "Home", null, new { @class="navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.MenuLink("Домашня сторінка", "Index", "Home")</li>
                    <li>@Html.MenuLink("Групи", "Index", "Group")</li>
                    <li>@Html.MenuLink("Студенти", "Index", "Student")</li>
                    <li>@Html.MenuLink("Хобі", "Index", "Hobby")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        <noscript>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Увага!</strong> Будь-ласка увімкніть JavaScript в вашому браузері!
            </div>
        </noscript>

        <div class="row">
            @if (IsSectionDefined("sidebar"))
            {
                <div class="span2">
                    @RenderSection("sidebar", required: false)
                </div>
            }

            <div id="content" @(IsSectionDefined("sidebar") ? Html.Raw("class=span10") : Html.Raw("class=span12"))>
                @if (IsSectionDefined("featured"))
                {
                    <div>
                        <div class="hero-unit">
                            @RenderSection("featured", required: false)
                        </div>
                    </div>
                }
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <footer id="footer">
                    &copy; 2014 Company.
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/js")
    @{
        if (ViewBag.AddJs!=null)
        {
            foreach (var item in ViewBag.AddJs)
            {
                @Scripts.Render(item); 
            }
        }
        }
    @RenderSection("scripts", required: false)
</body>
</html>
