﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Помилка</title>
</head>
<body>
    <h2>
        Ресурс недоступний.
    </h2>
</body>
</html>